
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="col-md-12">
        <div id="timeline-wrap">
            <div id="timeline"></div>

            <!-- This is the individual marker-->
            <div class="marker mfirst timeline-icon one">
                <i class="fa fa-pencil"></i>
            </div>
            <!-- / marker -->
            <!-- This is the individual marker-->
            <div class="marker m2 timeline-icon two">
                <i class="fa fa-usd"></i>
            </div>
            <!-- / marker -->
            <!-- This is the individual panel-->
            <div class="timeline-panel">
                <p>text</p>
            </div>
            <!-- / panel -->
            <!-- This is the individual marker-->
            <div class="marker m3 timeline-icon three">
                <i class="fa fa-list"></i>
            </div>
            <!-- / marker -->
            <!-- This is the individual marker-->
            <div class="marker mlast timeline-icon four">
                <i class="fa fa-check"></i>
            </div>
            <!-- / marker -->



        </div>
    </div>
    
    <a class="btn btn-primary" href="#" role="button">Standard Service</a>
    <a class="btn btn-primary" href="#" role="button">Exclusive Service</a>
</main>
