body {
    color: white;
}

.form-row label.row-header {
    display: block;
}

.form-group label.row-header, .row-info {
    color: #595959;
}

* {
    -webkit-font-smoothing: antialiased;
}
.footer{
    padding-top:10px;
}

.step1, .step2, .step3, .step4 {
    border: #337ab7;
    border-style: dotted;
    border-width: thin;
}

.feather {
    width: 24px;
    height: 24px;
    vertical-align: text-bottom;
}
.TimeLine{
    padding-bottom:30px;
}

    img.resize-img

{
    max-width: 250px;
    max-height: 400px;
}
}

input[type='radio'] {
    transform: scale(10);
}
/* HIDE RADIO */
.hidden-radio [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;    
}

    /* IMAGE STYLES */
    [type=radio] + img {
        cursor: pointer;
    }

    /* CHECKED STYLES */
[type=radio]:checked + img {
    outline: 2px solid #084E8F;
}
/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
  right: 0;
  */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 10px 0 10px; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: #084E8F !important;
}

.logo {
    margin: 20px 0 20px 0;
}

#profile-image {
    max-width: 100px;
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: white;
}

    .sidebar .nav-link .feather {
        margin-right: 4px;
        color: white;
    }

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #52A5DA !important;
}

.sidebar .nav-link.active {
    color: #52A5DA;
}

    .sidebar .nav-link:hover .feather,
    .sidebar .nav-link.active .feather {
        color: white;
    }

.sidebar-heading {
    font-size: 1rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

    .form-control-dark:focus {
        border-color: transparent;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }

.dashboard {
    background-color: #084E8F !important;
}


.bs-wizard {
    margin-top: 40px;
}
.payment-image-button {
  background-color: white !important;
  border: white !important;
}
.payment-images {
    max-height: 6em;
    max-width: 100%;
    border: 1px solid rgba(0, 0, 0, .25);
    padding: 0.01em 16px;
    border-radius: 16px;
    padding-left: 1em;
}
/*Form Wizard*/
.bs-wizard {
    border-bottom: solid 1px #e0e0e0;
    padding: 0 0 10px 0;
}

    .bs-wizard > .bs-wizard-step {
        padding: 0;
        position: relative;
    }

        .bs-wizard > .bs-wizard-step + .bs-wizard-step {
        }

        .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
            color: #595959;
            font-size: 16px;
            margin-bottom: 5px;
        }

        .bs-wizard > .bs-wizard-step .bs-wizard-info {
            color: #999;
            font-size: 14px;
        }

        .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
            position: absolute;
            width: 30px;
            height: 30px;
            display: block;
            background: #084E8F;
            top: 45px;
            left: 50%;
            margin-top: -15px;
            margin-left: -15px;
            border-radius: 50%;
        }

            .bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
                content: ' ';
                width: 14px;
                height: 14px;
                background: #084E8F;
                border-radius: 50px;
                position: absolute;
                top: 8px;
                left: 8px;
            }

        .bs-wizard > .bs-wizard-step > .progress {
            position: relative;
            border-radius: 0px;
            height: 8px;
            box-shadow: none;
            margin: 20px 0;
        }

            .bs-wizard > .bs-wizard-step > .progress > .progress-bar {
                width: 0px;
                box-shadow: none;
                background: #52A5DA;
            }

        .bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
            width: 100%;
        }

        .bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
            width: 50%;
        }

        .bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
            width: 0%;
        }

        .bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
            width: 100%;
        }

        .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
            background-color: #f5f5f5;
        }

            .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
                opacity: 0;
            }

        .bs-wizard > .bs-wizard-step:first-child > .progress {
            left: 50%;
            width: 50%;
        }

        .bs-wizard > .bs-wizard-step:last-child > .progress {
            width: 50%;
        }

        .bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
            pointer-events: none;
        }


