<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="row dashboard">
        <div class="col-md-6">En boks her</div>
        <div class="col-md-6">en boks her </div>
    </div>
    <div class="row dashboard">
        <div class="col-md-12">en stor boks her</div>
    </div>
</main>

<script>
    $("i").click(function () {
        $('.timeline-panel').show(0);
    });
</script>